DATABASE_URL="postgresql://USER:PASSWORD@localhost:5433/portfolio_db"
JWT_ACCESS_SECRET="your_access_secret_here"
JWT_REFRESH_SECRET="your_refresh_secret_here"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_USER="your_gmail@gmail.com"
MAIL_PASS="your_gmail_app_password"
MAIL_FROM="Portfy <your_gmail@gmail.com>"
PORT=3000
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"